<div class="container-fluid" id="top">
  <div class="header">
    <h1>About Us</h1>
    <h2>BikeSwiperz - selling stolen bikes since 2016</h2>
  </div><!--end header-->
</div><!--end container-->
<!-- <p>Welcome! The date and time is <%#= Time.now %></p> -->
<%# test_variable = 42 %>
<%#= test_variable %>
<%#= test_variable - 2 %>
<div class="container-fluid" id="fluidabout">
  <div class="row" id="aboutme">
    <div class="col-md-4 col-xs-12" id="col1">
      <%= image_tag("https://i.imgur.com/MzNjWCi.jpg", class: "img-responsive my-image", id: "profile") %>
    </div><!--end col-md-4-->
    <div class="col-md-4 col-xs-12" id="col2b">
      <p>It all started in August 2016 when my friend Greg and I were extremely drunk and saw a bike. Soon after, we traded the bike for beer. A year later, Greg decided to take the next step in his criminal career. I, however, continued scaling the business.</p>
    </div><!--end col-md-4-->
    <div class="col-md-4 col-xs-12" id="col3">
      <h3><i>Because it's all about doing what you love!</i></h3>
    </div><!--end col-md-4-->
  </div><!--end row-->
</div><!--end container-fluid-->
