<h1>About Us</h1>
<h2>BikeSwiperz - selling stolen bikes since 2016</h2>
<br>
<p>It all started in August 2016 when my friend Greg and I were extremely drunk and saw a bike. Soon after, we traded the bike for beer. A year later, Greg decided to take the next step in his criminal career. I, however, continued scaling the business.</p>
<img src="https://i.imgur.com/MzNjWCi.jpg" class="img-responsive">
<br>
<p><i>Because it's all about doing what you love!</i><p>
