<div class="container-fluid" id="top">
  <div class="header">
    <h1>Contact</h1>
    <h2>If you are interested in a cheap, stolen bike, please do not hesitate to write us an email:</h2>
    <h3 id="contactmail">info@bikeswiperz.to</h3>
  </div><!--end header-->
</div><!--end container-->
