<h1>Welcome to BikeSwiperz</h1>
<h2>Buy stolen bikes very cheap!</h2>
<!-- <p>Welcome! The date and time is <%#= Time.now %></p> -->
<%# test_variable = 42 %>
<%#= test_variable %>
<%#= test_variable - 2 %>
<img src="https://i.imgur.com/uYDRd4g.jpg" class="img-responsive">
<br>
<p>For more information, visit our Contact or About page!</p>
